header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

.container, .info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-text {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
  padding-right: 25px;
}

.info-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.hunter {
  background: #00ff00;
}

.prey {
  background: #0000ff;
}

.bomb {
  background: #ff0000;
}
